<ion-header>
	<ion-navbar color="energized">
		<ion-title>
			Doar Nota
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding id="page2">

<div *ngIf="temEntidade(); else naotemEntidade">
<ion-item>
	<img src="assets/scanimg.jpg" (click)="scanBarcode()">
</ion-item>
	<ion-item>
		<button ion-button block (click)="scanBarcode()"><ion-icon name="qr-scanner"></ion-icon>  Ler QR Code</button>	
	</ion-item>
	<ion-item>
	<div class="preview">
	</div>
	<ion-label> Enviar multiplas notas?</ion-label>
		<ion-toggle checked="false" [(ngModel)]="toggleStatus"></ion-toggle>
	</ion-item>
</div>
<ng-template #naotemEntidade>
	<ion-card>
      <ion-card-header>
      Escolha uma entidade!
      </ion-card-header>
      <ion-card-content>
        Antes de doar, escolha uma entidade!
        <button ion-button block (click)="goToEntidadesCadastradas()">Lista de entidades</button>
      </ion-card-content>
    </ion-card>
</ng-template>
	
</ion-content>