<ion-tabs color="energized">
  <ion-tab [root]="tab1Root" tabTitle="Entidades" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Doar Notas" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notas Doadas" tabIcon="list-box"></ion-tab>
</ion-tabs>