<ion-header>
  <ion-navbar color="energized">
    <ion-title>
      Minhas notas doadas
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <div *ngIf="temNota(); else naotemNota">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card color="energized" text-center>
            <ion-card-content>
              Total de notas:
              {{ qtdNotas }}
              </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card color="energized" text-center>
            <ion-card-content>
            <p>Total em ICMS: R${{ totalNotas }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="col-md-4">

    </div>
    <ion-list id="minhasNotasDoadas-list1">
      <ion-item-divider color="light" id="minhasNotasDoadas-list-item-divider1">
        Notas enviadas:
      </ion-item-divider>
      <ion-item color="none" id="minhasNotasDoadas-list-item4" *ngFor="let item of minhasNotas | async">
        <div (click)="showAlert(item)">
          {{ item.chaveNota }}
          <ion-note item-right>R${{ item.valor }}</ion-note>
          <ion-icon name="cash" item-right></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #naotemNota>
    <ion-card>
      <ion-card-header>
        Ops!
      </ion-card-header>
      <ion-card-content>
        Parece que você ainda não doou nenhuma nota, selecione uma entidade e comece a enviar suas notas agora!
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>