<ion-header>
  <ion-navbar color="energized">
    <ion-title>Entidades</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let item of listaEntidades.children | async">
      <img src="{{ item.detalhes.img }}" class="entidade_img" (click)="goToDetalhesDaEntidade(item.detalhes.cnpj)">
      <ion-item>
        <ion-icon name="pin" item-start large></ion-icon>
        <h2>{{ item.detalhes.nome }}</h2>
        <p>{{ item.detalhes.logradouro }}, {{ item.detalhes.numero }}, {{ item.detalhes.cidade }}, {{ item.detalhes.uf }}</p>
        <p>{{ item.detalhes.telefone }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="heart" color="danger" item-start></ion-icon>
        Doadores Ativos
        <ion-badge item-end>{{ item.detalhes.totalDoadores }}</ion-badge>
      </ion-item>
      <div *ngIf="!procuraEntidade(item.detalhes.cnpj); else minhaentidade">
        <ion-item>
          <button ion-button full color="danger" (click)="goToDetalhesDaEntidade(item.detalhes.cnpj)"><ion-icon name="arrow-dropright"> </ion-icon> Selecionar entidade</button>
        </ion-item>
      </div>
      <ng-template #minhaentidade>
        <ion-item>
          <label>Minha Entidade</label>
        </ion-item>
      </ng-template>
    </ion-card>
  </ion-list>
</ion-content>
