<ion-header>
	<ion-navbar color="energized">
		<ion-title>
			Detalhes da Entidade
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding id="page5">
	<img src="{{ entidadeDetalhes.img }}" alt="" class="logo">
	<ion-item *ngIf="!verificaEntidade()">
		<button ion-button block (click)="selecionaEntidade()"><ion-icon name="checkmark"></ion-icon> Doar para esta entidade!</button>
	</ion-item>
	<ion-card>
		<ion-card-header>
			<h2>{{ entidadeDetalhes.nome }}</h2>
		</ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-icon name="heart" color="danger" item-start></ion-icon>{{ entidadeDetalhes.totalDoadores }} Doadores ativos!
			</ion-item>
			<p>{{ entidadeDetalhes.sobre }}</p>
			<ion-item>
				Telefone: <p>{{ entidadeDetalhes.telefone }}</p>
			</ion-item>
			<ion-item>
				Endereço: <p> {{ entidadeDetalhes.logradouro }} - {{ entidadeDetalhes.numero }}</p>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-row>
	<ion-item>
	Compartilhe sua entidade:
	</ion-item>
		<ion-col col-4>
			<button ion-button icon-only block (click)="facebookShare()" color="facebook"><ion-icon name="logo-facebook"></ion-icon></button>
		</ion-col>
		<ion-col col-4>
			<button ion-button icon-only block (click)="twitterShare()" color="twitter"><ion-icon name="logo-twitter"></ion-icon></button>
		</ion-col>
		<ion-col col-4>
			<button ion-button icon-only block (click)="whatsappShare()" color="whatsapp"><ion-icon name="logo-whatsapp"></ion-icon></button>
		</ion-col>
	</ion-row>
</ion-content>